*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
/*mobile styles*/
main{
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    width:80%;
    min-height: 120vh ;
    margin: 30px auto;
}
#text h4, p{
    color: white;
    text-align: center;
}
.text-content h4{
    padding-top:40px;
    padding-bottom:10px;
}
.text-content p{
    padding:10px;
}
.form-header,.form-container{
    width: 80%;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 20px auto;
}
.form-header{
    background-color:hsl(248, 32%, 49%);
}

.free{
    font-weight: 700;
    line-height: 25px;
}
.free .price{
    font-weight: 200;
    display: block;
}
.form-container{
    background: white;
    
}

input{
    width:100%;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    outline: #ccc;
    border: 2px solid rgb(232, 232, 232);
}
input::placeholder{
    font-weight: bold;
}
.free-trial{
    background-color: hsl(154, 59%, 51%);
    border: none;
    width:100%;
    color: white;
    font-size:0.7rem;
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
.legal{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    cursor: pointer;
}
.agree{
    text-align: center;
    font-size: 0.8rem;
    color: rgb(188, 180, 180);
    padding: 0 10px;
    margin: 20px 0;
    line-height: 15px;

}
.agree span{
    display: inline-block;
    text-align: center;
}


/*desktop styles*/
@media screen and (min-width:400px) {
    main{
        display: flex;
        min-height: 80vh ;
       
    }
    #text{
        flex:40%;
        margin: auto;
    }
    #text h4{
        text-align: left;
        padding: 40px 0 15px 30px;
        font-weight: bold;
        line-height: 30px;
        font-size:30px;
    }
    #text p{
        text-align: left;
        padding-left:30px ;
        
        padding-bottom: 60px;
    }
    #reg{
        flex:60%;
    }
    .form-header{
        margin-top: 40px;
        width: 90%;
    }
    .form-container{
        background: white;
        width: 90%;
    }
   
    .free{
        padding: 10px 20px;
        
    }
    .free .price{
        font-weight: 200;
        display: inline;
    }
    .free-trial{
        font-size: 20px;
    }
    .agree{
        text-align: center;
    }
}   